* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #24243e, #302b63, #24243e);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}