* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #78300e;
  color: rgb(91, 91, 91);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

article .left {
  align-items: flex-start;
}

.clipboard {
  height: 87.5vh;
  width: 50vw;
}

.board {
  margin: 3.5em auto;
  border-radius: 15px;
  position: relative;
  background-color: #c5833d;
  box-shadow: 8px 10px 15px -3px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}

.clip {
  height: 15%;
  width: 25%;
  position: absolute;
  top: -5%;
  left: 37.5%;
  background: rgb(118, 119, 121);
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  z-index: 99;
}

.paper {
  padding: 2.5em;
  height: 87.5%;
  width: 90%;
  position: absolute;
  top: 6.5%;
  left: 5%;
  border-radius: 4px;
  background: #f8fffa;
  color: #24243e;
  overflow-y: auto;
}

.error-container {
  color: #d31515;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 1rem;
}

.text-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #5a5a5a;
  background-color: #f8fffa;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  outline: none;
}

.todo-button {
  padding: 0.5rem;
  font-size: 1rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #5a5a5a;
  background-color: #f8fffa;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  align-self: flex-end;
  position: relative;
  overflow: hidden;
}

select {
  color: #455c88;
  text-align: end;
  background-color: #f8fffa;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 6rem;
  padding: 0.5rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  font-size: 1rem;
  color: #24243e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
  border-bottom: 1px dashed rgba(188, 188, 188, 0.3);
}

.todo-item {
  margin: 10px 0 10px 0;
}

.todo-item:hover {
  cursor: pointer;
}

a .completed {
  opacity: 0.5;
}

.erase-button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #f8fffa;
  color: #5a5a5a;
  opacity: 0.2;
}

.erase-button:hover {
  opacity: 1;
  color: #24243e;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn {
  display: inline-block;
  min-width: 154px;
  text-decoration: none;
  position: relative;
}

.stroke {
  display: none;
}

.stroke-active {
  display: block;
  width: calc(100% - 5px);
  height: calc(100% + 10px);
  stroke: rgb(68, 68, 68);
  position: absolute;
  left: -10px;
  bottom: -5px;
  stroke-width: 2;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95vh;
}

.quote-container {
  line-height: 1;
  text-align: center;
  width: 275px;
  margin: 25px;
  min-height: 250px;
  max-height: 250px;
  padding: 35px 30px 35px 30px;
  position: relative;
  border: 1px solid #e8e8e8;
  border-top: 60px solid #fdfd86;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Caveat", cursive;
  color: #e8e8e8;
}/*# sourceMappingURL=App.css.map */